h1 {
    color: black;
  }
  body {
    font-family: ‘Arial’, sans-serif;
    background-color: f9f9f9;
    color: 333;
    line-height: 1.6;
  }
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  .post {
    border: 1px solid ccc;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  }
  .loader {
    border: 16px solid black;
    border-top: 16px solid whitesmoke;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    }
  