.heading {
  color: #99845f;
  margin-left: 40%;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #faf6e3;
  color: white;
  line-height: 1.6;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.post {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
  height: 200px;
  width: 600px;
  margin-left: 25%;
  justify-content: center;
  border-radius: 8px;
  background-color: #6072b4;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.loader {
  border: 16px solid #b59f78;
  border-top: 16px solid #f3e6cf;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  margin-left: 43%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
